
@model IQueryable<IGrouping<string, DayShedules>>

<style>
.card{
    
display: inline-block;
width: 300px;
height: 150px;
margin: 5px 15px 5px 5px;

border: 2px solid white;
border-radius: 5px;
color:white;
background-color: #4285f4;
position: relative;
}

.card::after{
    content: "";
    background-image: url(../images/pic1.jpg);
    background-size: 70px 70px;
     
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: 15px;
    right:  -22px;
    background-color: lightseagreen;
    opacity: .8;
}

.daycalendar{
    background: #34a853;
    color: white;
    font-size: 24px;
    padding: 10px;
    margin: 20px 0 0 0;
    border-radius: 10px 10px 0 0;
}
.cardheader{
    border-radius: 3px 3px 0 0;
    margin: 0;
    background: #ff9e00;
    padding: 10px;
    font-size: 18px;
text-align: center;
color: darkblue;
}
.content{
    background: whitesmoke;
    border-radius: 10px;
    margin: 15px 0 0 0;
}
.card-info{
    font-size: 16px;
    margin: 5px;
}
</style>



<div class="content">
@foreach (var item in Model)
{
<div class="daycalendar">@item.Key</div>
@foreach (var subitem in item)
{
        <div class="card">
            <div class="cardheader">@subitem.BoatName</div>
            <div class="card-info">
                <div>@subitem.BoatComment</div>
                <div>@subitem.TimeStart</div>
                <div>@subitem.TimeEnd</div>
            </div>
    </div>
}

}
</div>

